
*, ::after, ::before {
box-sizing: border-box;
}

body {
  color: #333;
}

td {
    padding: 0px 5px;
}

button.btn {
    margin: 5px 5px;
}

span {
    margin-right: 1.5rem;
}
small.text-muted {
    font-size: 0.85rem;
}