{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <h1 id="title">Daftar Absen Kolektif</h1>
</div>
<div class="row justify-content-center">
    <table>
        <tr>
            <td><h4>Nama</h4></td>
            <td><h4>Kehadiran</h4></td>
        </tr>
        <th colspan="2"><hr></th>
        {% for name, status in attendance.items() %}
        <tr>
            <td>{{name}}</td>
            <td>{{status}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="row justify-content-center">
    <div class="form-group">
        <label for="header"><b>Copied Text Header:</b></label>
        <input class="form-control" type="text" name="header" value="Daftar hadir" id="copyToClipboardHeader">
    </div>
</div>

{% for buttonText, text in copyCandidates.items() %}
<div class="row justify-content-center">
    <button onclick="copyCollectionToClipboard(`{{text}}`);" class="btn btn-default">{{buttonText}}</button>
    <br>
</div>
{% endfor %}
{% endblock content %}