{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
{% endblock head %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-5 col-lg-4 col-xs-7" style="display: initial;">
        <h1 id="title">Absen Kolektif</h1>
        <hr>
        <div id="responsePlaceholder"></div>
        {% if config.time_limited %}
        <h4 id="timeLimit">Batas Waktu: {{config.time_limit.strftime(config.time_format)}}</h4>
        {% endif %}
        <br>

        <form id="absenForm" method="post">
            <div class="form-group">
                <label for="name"><h5>Nama:</h5></label>
                <input id="nameInput" class="form-control" name="name" type="text">
                <input id="statusPlaceholder" class="form-control" name="status" type="hidden" value="">
                <hr>
                <h5>Kehadiran</h5>
                
                {% for status in config.available_statuses %}

                <label></label>
                {% if status in config.disabled_statuses %}
                <input class="form-control" id="statusBtn{{status}}" value="{{status}}" onclick="setStatus(this)" type="submit" disabled>
                {% else %}
                <input class="form-control" id="statusBtn{{status}}" value="{{status}}" onclick="setStatus(this)" type="submit">
                {% endif %}

                {% endfor %}
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock scripts %}